.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ff9f00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.sm .circle {
  width: 20px;
  height: 20px;
}

.md .circle {
  width: 40px;
  height: 40px;
}

.lg .circle {
  width: 60px;
  height: 60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}